{% extends "layout.html" %}

    {% block body %}
        <header>
            <h1>Select the number of players!</h1>
        </header>
        <main>
            <form action="register_players" method="post">
                <div>
                    <label for="number-of-players">Enter the number of players:</label>
                  	<select name="number-of-players" id ="number-of-players">
                    	<option value="2">2</option>
                    	<option value="3">3</option>
                    	<option value="4">4</option>
                    	<option value="5">5</option>
                    	<option value="6">6</option>
                  	</select>
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </main>
    {% endblock %}