{% extends "layout.html" %}

    {% block body %}
        <header>
            <h1>Game</h1>
        </header>
        <main>
            <table>
                <thead>
                    <tr>
                        <th>Settler Name</th>
                        <th>Victory Points</th>
                      	<th>Longest Road</th>
                      	<th>Defender of Catan</th>
                        <th>Knights Strength</th>
                        <th>Knights</th>
                    </tr>
                </thead>
                <tbody>
                    {% for settler_id in settler_ids %}
                        <tr>
                            <td>{{settler_dicts[settler_id]['username']}}</td>
                            <td>{{settler_dicts[settler_id]['victory_points']}}</td>
                            <td>{{settler_dicts[settler_id]['longest_road']}}</td>
                            <td>{{settler_dicts[settler_id]['defender_of_catan']}}</td>
                            <td>{{settler_dicts[settler_id]['army_strength']}}</td>
                          	<td>
                                {% for knight in settler_dicts[settler_id]['knights'] %}
                                    {% if knight['is_active'] %}
                                        <input checked disabled type="checkbox">
                                        <a href="/disable_knight/{{knight['id']}}">lvl {{knight['level']}} knight</a>
                                    {% else %}
                                        <input disabled type="checkbox">
                                      	<a href="/activate_knight/{{knight['id']}}">lvl {{knight['level']}} knight</a>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
              	<a href="">Build Settlement</a>
                <a href="">Promote Settlement</a>
                <a href="">Build Knight</a>
                <a href="start_turn">End Turn</a>
                <a href="../">Return</a>
            </div>
        </main>
    {% endblock %}