{% extends "layout.html" %}

    {% block body %}
        <header>
            <h1>{{settlers_turn_username}}'s Turn!</h1>
        </header>
        
        <main>
            <div>{{active_knights_count}} Active Knights</div>
            <div>{{barbarian_strength}} Barbarian Strength</div>
            <div>{{barbarian_distance_from_catan}} Barbarian Distance</div>
            <table>
                <thead>
                    <tr>
                        <th>Settler Name</th>
                        <th>Victory Points</th>
                      	<th>Longest Road</th>
                      	<th>Defender of Catan</th>
                        <th>Knights Strength</th>
                        <th>Knights</th>
                    </tr>
                </thead>
                <tbody>
                    {% for settler_id in settler_ids %}
                        <tr>
                            <td>{{settler_dicts[settler_id]['username']}}</td>
                            <td>{{settler_dicts[settler_id]['victory_points']}}</td>
                            <td>{{settler_dicts[settler_id]['longest_road']}}</td>
                            <td>{{settler_dicts[settler_id]['defender_of_catan']}}</td>
                            <td>{{settler_dicts[settler_id]['army_strength']}}</td>
                          	<td>
                                {% for knight in settler_dicts[settler_id]['knights'] %}
                                    {% if knight['is_active'] %}
                                        <input checked disabled type="checkbox">
                                        <a href="{{link_prefix}}deactivate_knight/{{knight['id']}}">lvl {{knight['level']}} knight</a>
                                    {% else %}
                                        <input disabled type="checkbox">
                                      	<a href="{{link_prefix}}activate_knight/{{knight['id']}}">lvl {{knight['level']}} knight</a>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
              	<a href="{{link_prefix}}build_settlement">Build Settlement</a>
                <a href="{{link_prefix}}select_settlement_to_promote">Promote Settlement</a>
                <a href="{{link_prefix}}build_knight/{{id_of_next_knight_to_be_built}}">Build Knight</a>
                <a href="{{link_prefix}}select_knights_to_promote">Promote Knight</a>
                <a href="{{link_prefix}}start_turn">End Turn</a>
                <a href="{{link_prefix}}..">Return</a>
            </div>
        </main>
    {% endblock %}