{% extends 'layout.html' %}

    {% block body %}
        {% if maximum_settlers_reached == false %}
            <header>
                Register Player {{next_settler_number}}
            </header>
            <main>
                <form action="register_settler" method="post">
                    <div>
                        <label for="player_name">Name:</label>
                        <input type="text" id="player_name" name="name">
                    </div>
                    <div>
                        <button type="submit">Add Player</button>
                    </div>
                </form>
        		{% if minimum_settlers_required %}
            		<a href="../initialise_board/place_settlement">Initialise Board</a>
		        {% else %}
          			<!--TODO - 1 - Style to look like disabled button-->
          			<div title="Insert disabled reason here">Initialise Board</div>
        		{% endif %}
                <div>
                    <a href="../../">Return</a>
                </div>
			</main>
        {% else %}
			<main>
                <div>
                <a href="../initialise_board/place_settlement">Initialise Board</a>
                </div>
                <div>
                    <a href="../../">Return</a>
                </div>
        	</main>
        {% endif %}
    {% endblock %}
