{% extends "layout.html" %}

    {% block body %}
        <header>
            <h1>Update Longest Road!</h1>
        </header>
        
        <main>
            <form action="update_longest_road" method="post">
                <div>
                    <label for="current_settler_longest_road">Current longest road: </label>
                    <input type = "number" name = "current_settler_longest_road" id = "current_settler_longest_road "value = "{{current_settler['longest_road']}}" min = "1">
                </div>
                <button type ="submit">Update</button>
            </form>
        </main>
    {% endblock %}