{% extends "layout.html" %}

    {% block body %}
        <header>
            <h1>{{settler_username}}'s Turn!</h1>
        </header>
				
				<main>
    		{% if not is_settler_two %}
						<form action="/game/collect_resources" method ="post">
            	  	<div>
            		    <label for="dice_roll">Enter Dice Roll:</label>
                  		<input type="number" id="dice_roll" name="dice_roll" min="2" max="12">
            		</div>
		      	  	<div>
            		    <label for="event_dice_roll">Enter Event Dice Roll:</label>
                  		<select id="event_dice_roll" name="event_dice_roll">
							<option value="barbarian_ship">Barbarian Ship</option>
							<option value="trade">Trade</option>
							<option value="politics">Politics</option>
							<option value="science">Science</option>
						</select>
            		</div>
              	<div>
	                  <button type="submit">Enter</button>
              	</div>
          	</form>
        {% else %}
          	<a href="/game">Proceed</a>
    		{% endif %}
        </main>
		{% endblock %}

    
    